.body{
    flex: 0.8;
    padding: 30px;
    background: linear-gradient(transparent,rgba(0,0,0,1));
    background-color: rgb(24, 22, 22);
    width: 100%;
    height: 100vh;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
.body::-webkit-scrollbar{
    display: none;
}
.body__info{
    display: flex;
    align-items: flex-end;
    margin-top: 30px

}
.body__info > img{
    width: 10vw;
    object-fit: contain;
}
.body__infotext{
    margin-left: 30px;
}
.body__songs{
    padding: 10px;
    margin-top: 20px;
}
.body__icons{
    display: flex;
    align-items: center;
}
.body__icons > .MuiSvgIcon-root{
    margin: 10px;
}
.body__shuffle{
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.body__shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}
.body__infoText {
    flex: 1;
}
.body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .body__infoText > p {
    font-size: 14px;
  }
  